#nav_bar {
  background-color: #B4DF37;
  color: #FFFFFF;
}

#nav_bar a {
	color: #FFFFFF;
}

#jumbotron {
  background-color: #666666;
  margin-bottom: 0px;
  margin-top: 0px;
}

#jumbotron h1 {
	color: #77CCA4
}

#content {
  background-color: #F0F0D8;
}

/*#bottom {
  background-color: #3C8E77;
}*/

#footer {
  background-color: #B4DEBE;
}