#nav_bar {
    background-color: #B4DF37;
    color: #FFFFFF;
}

#nav_bar a {
    color: #FFFFFF;
}

.navbar-brand {
    font-size: 30px;
    height: 50px;
    padding-top: 15px;
}

#font-brand {
	color: #FFFFFF;
}

#behind-brand {
	color: #666666;
}

#jumbotron {
    background-color: #666666;
    margin-bottom: 0px;
    margin-top: 0px;
}

#jumbotron h1 {
    color: #77CCA4
}

#content {
    background-color: #F0F0D8;
}
/*#bottom {
  background-color: #3C8E77;
}*/

#footer {
    background-color: #B4DEBE;
}