{{set . "title" "GoCasts"}} 
{{append . "moreStyles" "/public/css/custom.css"}} 
{{append . "moreStyles" "/public/css/casts.css"}} 
{{template "header.html" .}}

<div id="content">
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="active">播客列表</li>
                </ol>
                {{ if .num }} 
                {{ range .viewCasts }}
                <div class="castItem col-md-12 col-sm-12">
                    <div class="castTitle col-md-4">
                        <img src="/public/img/go-logo.png" alt=""/>
                         <p>
                            {{ range parseTags .Tags}}
                            <a href="/tags/{{ . }}"><span class="label label-success">{{ . }}</span></a>
                            {{ end }}
                        </p>
                    </div>
                    <div class="castContent col-md-8">
                        <span>Created by <a href="{{ .AuthorUrl }}" target="_blank">{{.Author}}</a> @ {{ .Date }} </span>

                        <h3>{{ .Title }}</h3> 
                        <p>{{ .Intro }}</p>
                        <a href="/casts/{{ .Id }}" target="_blank"><button type="button-lg" class="btn btn-success viewButton">点击查看</button></a>
                    </div>
                </div>
                {{ end }} 
                {{ end }}
            </div>
            <div class="row">
                {{if gt .pager.PageNums 1}}
                <ul class="pagination pagination-sm">
                    {{if .pager.HasPrev}}
                    <li><a href="{{.pager.PageLinkFirst}}">第一页</a></li>
                    <li><a href="{{.pager.PageLinkPrev}}">&lt;</a></li>
                    {{else}}
                    <li class="disabled"><a>第一页</a></li>
                    <li class="disabled"><a>&lt;</a></li>
                    {{end}} {{range $index, $page := .pager.Pages}}
                    <li{{if $.pager.IsActive .}} class="active" {{end}}>
                        <a href="{{$.pager.PageLink $page}}">{{$page}}</a>
                        </li>
                        {{end}} {{if .pager.HasNext}}
                        <li><a href="{{.pager.PageLinkNext}}">&gt;</a></li>
                        <li><a href="{{.pager.PageLinkLast}}">最后一页</a></li>
                        {{else}}
                        <li class="disabled"><a>&gt;</a></li>
                        <li class="disabled"><a>最后一页</a></li>
                        {{end}}
                </ul>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}