{{set . "title" "Home"}} 
{{append . "moreStyles" "/public/css/custom.css"}} 
{{template "header.html" .}}

<div id="jumbotron" class="jumbotron">
  <h1>Go<span>Casts</span></h1>
  <img src="/public/img/go-logo.png" />
</div>
<div id="content">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
    <br/>
  <br/>
  <br/>
  <br/>  <br/>
  <br/>
  <br/>
  <br/>  <br/>
  <br/>
  <br/>
  <br/>
</div>

<!-- <div id="bottom">
</div> -->

<div id="footer">
    <br/>  <br/>
  <br/>
  <br/>
  <br/>
</div>

{{template "footer.html" .}}