{{set . "title" "GoCasts - 管理登录"}} 
{{append . "moreStyles" "/public/css/custom.css"}} 
{{template "header.html" .}}

<div id="content">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
        <ul class="catCardList">
            <li class="catCardList">
                <div class="catCard">
                    <a href="/casts/" target="_blank"><img src="/public/img/go-logo.png" alt="" /></a>
                    <div class="lowerCatCard">
                        <h3>标题</h3>
                        <p>介绍介绍介绍</p>
                        <div id="catCardButton" class="button"><a href="/casts/" target="_blank">点击查看</a></div>
                    </div>
                </div>
            </li>
            <li class="catCardList">
                <div class="catCard">
                    <a href="/casts/" target="_blank"><img src="/public/img/go-logo.png" alt="" /></a>
                    <div class="lowerCatCard">
                        <h3>标题</h3>
                        <p>介绍介绍介绍</p>
                        <div id="catCardButton" class="button"><a href="/casts/" target="_blank">点击查看</a></div>
                    </div>
                </div>
            </li>
            <li class="catCardList">
                <div class="catCard">
                    <a href="/casts/" target="_blank"><img src="/public/img/go-logo.png" alt="" /></a>
                    <div class="lowerCatCard">
                        <h3>标题</h3>
                        <p>介绍介绍介绍</p>
                        <div id="catCardButton" class="button"><a href="/casts/" target="_blank">点击查看</a></div>
                    </div>
                </div>
            </li>
            <li class="catCardList">
                <div class="catCard">
                    <a href="/casts/" target="_blank"><img src="/public/img/go-logo.png" alt="" /></a>
                    <div class="lowerCatCard">
                        <h3>标题</h3>
                        <p>介绍介绍介绍</p>
                        <div id="catCardButton" class="button"><a href="/casts/" target="_blank">点击查看</a></div>
                    </div>
                </div>
            </li>

        </ul>
    </div>  
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/> 
</div>
{{template "footer.html" .}}